.panels-flexible-column-1-main {
  float: left;
  width: 99%;
}

.panel-flexible-1-inside {
  padding-left: 0px;
  padding-right: 0px;
}

.panels-flexible-region-1-center {
  float: left;
  width: 99%;
}

.panels-flexible-row-1-main-row-inside {
  padding-left: 0px;
  padding-right: 0px;
}

